:root {
  /* Color variables */
  --text-color: #333;
  --secondary-color: #6c757d;
  --background-color: #f5f5f5;
  --error-color: #dc3545;

  /* Font variables */
  --font-family: 'Arial', sans-serif;
  --font-size-base: 16px;

  /* Pagination variables */
  --pagination-color: #ccc;
  --pagination-background-color: #f9f9f9;
  --pagination-background-color-hover: #e6e6e6;
  --pagination-background-color-disabled: #aaa;
  --pagination-disabled-color: #f0f0f0;

  /* Search variables */
  --search-border-color: #ccc;
  --search-background-color: #f9f9f9;
  --search-select-border-color: #ccc;
  --search-select-background-color: #ffffff;


  /* Card variables */
  --card-background-color: white;
  --card-artist-color: #555;
  --card-type-color: #888;
}

html {
  font-size: var(--font-size-base);
}

body {
  font-family: var(--font-family), serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}
